# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.index
*.npy
*.csv
